.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.log
*.lck
*.jar
local.properties
.classpath
.settings/
.gradle/
build/
config/
eclipse/
mods/
resourcepacks/
saves/
stats/
gradlew
gradlew.bat
MinecraftForge-Credits.txt
MinecraftForge-License.txt
forge-*-changelog.txt
CREDITS-fml.txt
LICENSE-fml.txt
gradle-wrapper.properties