*.tmp
*.bak
*.swp
*~.nib
*.log
*.lck
*.bin
*.bat

/ModJam2013-2/.classpath
/ModJam2013-2/.project
/ModJam2013-2/.gradle/
/ModJam2013-2/.settings/
/ModJam2013-2/bin/
/ModJam2013-2/build/
/ModJam2013-2/config/
/ModJam2013-2/eclipse/
/ModJam2013-2/mods/
/ModJam2013-2/resourcepacks/
/ModJam2013-2/saves/
/ModJam2013-2/stats/